In [2]:
import pandas as pd

In [43]:
df = pd.read_csv('Train_Dataset.csv')
# df_test = pd.read_csv('Test_Dataset.csv')

In [45]:
df.mode()

,customer_id,account_length,location_code,intertiol_plan,voice_mail_plan,number_vm_messages,total_day_min,total_day_calls,total_day_charge,total_eve_min,...,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,customer_service_calls,Churn,Unnamed: 20
0,1001,105.0,452.0,no,no,0.0,175.4,102.0,29.82,173.7,...,17.8,189.6,104.0,8.64,9.8,3.0,2.65,1.0,No,NaN
1,1002,NaN,NaN,NaN,NaN,NaN,185.0,NaN,NaN,180.5,...,NaN,191.4,105.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,187.0,...,NaN,197.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,189.6,...,NaN,210.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,209.4,...,NaN,221.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2316,3317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2317,3318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2318,3319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2319,3320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2320,3321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.head()

,customer_id,account_length,location_code,intertiol_plan,voice_mail_plan,number_vm_messages,total_day_min,total_day_calls,total_day_charge,total_eve_min,...,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,customer_service_calls,Churn,Unnamed: 20
0,1001,15.0,452,no,no,0.0,121.1,130.0,20.59,216.0,...,18.36,235.1,33.0,10.58,16.1,5.0,4.35,2.0,No,NaN
1,1002,105.0,452,no,no,0.0,259.3,96.0,44.08,175.2,...,14.89,222.4,36.0,10.01,12.0,5.0,3.24,3.0,No,NaN
2,1003,97.0,452,no,yes,32.0,183.4,94.0,31.18,269.1,...,22.87,203.5,38.0,9.16,6.7,4.0,1.81,5.0,No,NaN
3,1004,121.0,445,no,yes,35.0,68.7,95.0,11.68,209.2,...,17.78,197.4,42.0,8.88,11.4,4.0,3.08,1.0,No,NaN
4,1005,98.0,452,no,yes,22.0,278.3,89.0,47.31,93.4,...,7.94,107.6,42.0,4.84,9.7,5.0,2.62,0.0,No,NaN

In [5]:
# df_test.head()

In [6]:
df[df['customer_id']==1001]

,customer_id,account_length,location_code,intertiol_plan,voice_mail_plan,number_vm_messages,total_day_min,total_day_calls,total_day_charge,total_eve_min,...,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,customer_service_calls,Churn,Unnamed: 20
0,1001,15.0,452,no,no,0.0,121.1,130.0,20.59,216.0,...,18.36,235.1,33.0,10.58,16.1,5.0,4.35,2.0,No,NaN

In [7]:
def drop_columns(df, columns):
    df.drop(columns, axis=1, inplace=True, errors='ignore')

In [8]:
drop_features = [ 'Unnamed: 19', 'Unnamed: 20']
drop_columns(df, drop_features)

In [9]:
df.head()

,customer_id,account_length,location_code,intertiol_plan,voice_mail_plan,number_vm_messages,total_day_min,total_day_calls,total_day_charge,total_eve_min,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,customer_service_calls,Churn
0,1001,15.0,452,no,no,0.0,121.1,130.0,20.59,216.0,86.0,18.36,235.1,33.0,10.58,16.1,5.0,4.35,2.0,No
1,1002,105.0,452,no,no,0.0,259.3,96.0,44.08,175.2,97.0,14.89,222.4,36.0,10.01,12.0,5.0,3.24,3.0,No
2,1003,97.0,452,no,yes,32.0,183.4,94.0,31.18,269.1,120.0,22.87,203.5,38.0,9.16,6.7,4.0,1.81,5.0,No
3,1004,121.0,445,no,yes,35.0,68.7,95.0,11.68,209.2,69.0,17.78,197.4,42.0,8.88,11.4,4.0,3.08,1.0,No
4,1005,98.0,452,no,yes,22.0,278.3,89.0,47.31,93.4,143.0,7.94,107.6,42.0,4.84,9.7,5.0,2.62,0.0,No

In [10]:
df.to_csv("web.csv",index=False)

In [12]:
df.tail()

,customer_id,account_length,location_code,intertiol_plan,voice_mail_plan,number_vm_messages,total_day_min,total_day_calls,total_day_charge,total_eve_min,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,customer_service_calls,Churn
2316,3317,109.0,452,no,no,0.0,180.0,100.0,30.60,229.0,103.0,19.47,139.4,105.0,6.27,7.8,8.0,2.11,3.0,No
2317,3318,185.0,452,yes,yes,30.0,154.1,114.0,26.20,118.7,106.0,10.09,258.4,105.0,11.63,12.9,3.0,3.48,2.0,No
2318,3319,55.0,452,yes,no,0.0,188.9,88.0,34.62,270.1,105.0,22.77,209.7,105.0,9.17,14.3,5.0,3.86,1.0,Yes
2319,3320,138.0,547,yes,no,0.0,191.2,130.0,32.35,164.5,88.0,14.00,241.4,105.0,10.46,15.2,1.0,4.10,0.0,Yes
2320,3321,24.0,547,no,no,0.0,251.0,95.0,40.31,179.9,77.0,16.63,189.3,105.0,8.29,15.3,7.0,4.13,0.0,Yes

In [13]:
df[df['customer_id']==2121].to_dict(orient='index')[0]

{1120: {'customer_id': 2121,
  'account_length': 162.0,
  'location_code': 547,
  'intertiol_plan': 'no',
  'voice_mail_plan': 'no',
  'number_vm_messages': 0.0,
  'total_day_min': 220.6,
  'total_day_calls': 117.0,
  'total_day_charge': 37.5,
  'total_eve_min': 155.2,
  'total_eve_calls': 121.0,
  'total_eve_charge': 13.19,
  'total_night_minutes': 186.7,
  'total_night_calls': 89.0,
  'total_night_charge': 8.4,
  'total_intl_minutes': 10.5,
  'total_intl_calls': 11.0,
  'total_intl_charge': 2.84,
  'customer_service_calls': 1.0,
  'Churn': 'No'}}

In [20]:
df[df['customer_id']==1012].squeeze().to_dict()

{'customer_id': 1012,
 'account_length': 61.0,
 'location_code': 445,
 'intertiol_plan': 'no',
 'voice_mail_plan': 'yes',
 'number_vm_messages': 31.0,
 'total_day_min': 288.7,
 'total_day_calls': 101.0,
 'total_day_charge': 49.08,
 'total_eve_min': 203.8,
 'total_eve_calls': 102.0,
 'total_eve_charge': nan,
 'total_night_minutes': 203.2,
 'total_night_calls': 49.0,
 'total_night_charge': 9.14,
 'total_intl_minutes': 8.6,
 'total_intl_calls': 3.0,
 'total_intl_charge': 2.32,
 'customer_service_calls': 0.0,
 'Churn': 'No'}

In [16]:
df.isnull().sum()

customer_id               0
account_length            2
location_code             0
intertiol_plan            3
voice_mail_plan           6
number_vm_messages        3
total_day_min             1
total_day_calls           3
total_day_charge          5
total_eve_min             3
total_eve_calls           4
total_eve_charge          8
total_night_minutes       2
total_night_calls         5
total_night_charge        5
total_intl_minutes        2
total_intl_calls          3
total_intl_charge         5
customer_service_calls    1
Churn                     5
dtype: int64

In [19]:
df

,customer_id,account_length,location_code,intertiol_plan,voice_mail_plan,number_vm_messages,total_day_min,total_day_calls,total_day_charge,total_eve_min,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,customer_service_calls,Churn
0,1001,15.0,452,no,no,0.0,121.1,130.0,20.59,216.0,86.0,18.36,235.1,33.0,10.58,16.1,5.0,4.35,2.0,No
1,1002,105.0,452,no,no,0.0,259.3,96.0,44.08,175.2,97.0,14.89,222.4,36.0,10.01,12.0,5.0,3.24,3.0,No
2,1003,97.0,452,no,yes,32.0,183.4,94.0,31.18,269.1,120.0,22.87,203.5,38.0,9.16,6.7,4.0,1.81,5.0,No
3,1004,121.0,445,no,yes,35.0,68.7,95.0,11.68,209.2,69.0,17.78,197.4,42.0,8.88,11.4,4.0,3.08,1.0,No
4,1005,98.0,452,no,yes,22.0,278.3,89.0,47.31,93.4,143.0,7.94,107.6,42.0,4.84,9.7,5.0,2.62,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2316,3317,109.0,452,no,no,0.0,180.0,100.0,30.60,229.0,103.0,19.47,139.4,105.0,6.27,7.8,8.0,2.11,3.0,No
2317,3318,185.0,452,yes,yes,30.0,154.1,114.0,26.20,118.7,106.0,10.09,258.4,105.0,11.63,12.9,3.0,3.48,2.0,No
2318,3319,55.0,452,yes,no,0.0,188.9,88.0,34.62,270.1,105.0,22.77,209.7,105.0,9.17,14.3,5.0,3.86,1.0,Yes
2319,3320,138.0,547,yes,no,0.0,191.2,130.0,32.35,164.5,88.0,14.00,241.4,105.0,10.46,15.2,1.0,4.10,0.0,Yes
2320,3321,24.0,547,no,no,0.0,251.0,95.0,40.31,179.9,77.0,16.63,189.3,105.0,8.29,15.3,7.0,4.13,0.0,Yes

In [21]:
df.fillna('Unknown')

,customer_id,account_length,location_code,intertiol_plan,voice_mail_plan,number_vm_messages,total_day_min,total_day_calls,total_day_charge,total_eve_min,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,customer_service_calls,Churn
0,1001,15.0,452,no,no,0.0,121.1,130.0,20.59,216.0,86.0,18.36,235.1,33.0,10.58,16.1,5.0,4.35,2.0,No
1,1002,105.0,452,no,no,0.0,259.3,96.0,44.08,175.2,97.0,14.89,222.4,36.0,10.01,12.0,5.0,3.24,3.0,No
2,1003,97.0,452,no,yes,32.0,183.4,94.0,31.18,269.1,120.0,22.87,203.5,38.0,9.16,6.7,4.0,1.81,5.0,No
3,1004,121.0,445,no,yes,35.0,68.7,95.0,11.68,209.2,69.0,17.78,197.4,42.0,8.88,11.4,4.0,3.08,1.0,No
4,1005,98.0,452,no,yes,22.0,278.3,89.0,47.31,93.4,143.0,7.94,107.6,42.0,4.84,9.7,5.0,2.62,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2316,3317,109.0,452,no,no,0.0,180.0,100.0,30.6,229.0,103.0,19.47,139.4,105.0,6.27,7.8,8.0,2.11,3.0,No
2317,3318,185.0,452,yes,yes,30.0,154.1,114.0,26.2,118.7,106.0,10.09,258.4,105.0,11.63,12.9,3.0,3.48,2.0,No
2318,3319,55.0,452,yes,no,0.0,188.9,88.0,34.62,270.1,105.0,22.77,209.7,105.0,9.17,14.3,5.0,3.86,1.0,Yes
2319,3320,138.0,547,yes,no,0.0,191.2,130.0,32.35,164.5,88.0,14.0,241.4,105.0,10.46,15.2,1.0,4.1,0.0,Yes
2320,3321,24.0,547,no,no,0.0,251.0,95.0,40.31,179.9,77.0,16.63,189.3,105.0,8.29,15.3,7.0,4.13,0.0,Yes

In [23]:
df.to_csv("web.csv",index=False)

In [25]:
df.isnull().sum()

customer_id               0
account_length            2
location_code             0
intertiol_plan            3
voice_mail_plan           6
number_vm_messages        3
total_day_min             1
total_day_calls           3
total_day_charge          5
total_eve_min             3
total_eve_calls           4
total_eve_charge          8
total_night_minutes       2
total_night_calls         5
total_night_charge        5
total_intl_minutes        2
total_intl_calls          3
total_intl_charge         5
customer_service_calls    1
Churn                     5
dtype: int64

In [27]:
df.isnull().sum()

customer_id                  0
account_length               2
location_code                0
intertiol_plan               3
voice_mail_plan              6
number_vm_messages           3
total_day_min                1
total_day_calls              3
total_day_charge             5
total_eve_min                3
total_eve_calls              4
total_eve_charge             8
total_night_minutes          2
total_night_calls            5
total_night_charge           5
total_intl_minutes           2
total_intl_calls             3
total_intl_charge            5
customer_service_calls       1
Churn                        5
Unnamed: 20               2321
dtype: int64

In [29]:
df=df.fillna('Unknown')

In [30]:
df.isnull().sum()

customer_id               0
account_length            0
location_code             0
intertiol_plan            0
voice_mail_plan           0
number_vm_messages        0
total_day_min             0
total_day_calls           0
total_day_charge          0
total_eve_min             0
total_eve_calls           0
total_eve_charge          0
total_night_minutes       0
total_night_calls         0
total_night_charge        0
total_intl_minutes        0
total_intl_calls          0
total_intl_charge         0
customer_service_calls    0
Churn                     0
Unnamed: 20               0
dtype: int64

In [32]:
df.shape

(2321, 21)

In [33]:
drop_features = [ 'Unnamed: 19', 'Unnamed: 20']
drop_columns(df, drop_features)

In [34]:
df.shape

(2321, 20)

In [36]:
df.to_csv("web.csv",index=False)

In [37]:
df_web = pd.read_csv('web.csv')

In [38]:
df_web.isnull().sum()

customer_id               0
account_length            0
location_code             0
intertiol_plan            0
voice_mail_plan           0
number_vm_messages        0
total_day_min             0
total_day_calls           0
total_day_charge          0
total_eve_min             0
total_eve_calls           0
total_eve_charge          0
total_night_minutes       0
total_night_calls         0
total_night_charge        0
total_intl_minutes        0
total_intl_calls          0
total_intl_charge         0
customer_service_calls    0
Churn                     0
dtype: int64

In [39]:
df_web.shape

(2321, 20)

In [41]:
drop_features = [ 'Unnamed: 19', 'Unnamed: 20']
drop_columns(df_web, drop_features)

In [42]:
df_web.shape

(2321, 20)